{% extends "landing_base.html" %}
{% load static %}
{% block sheri %}


<!-- Contact -->
<div class="px-3 my-5">
    <div class="container py-3 border rounded shadow-lg" style="max-width: 568px;">
        <h3 style="text-align: center;" class="pt-3">نموذج طلب استخراج رخصة</h3>
        <form class="p-4 pt-1 p-sm-5" method='post'>
            {% csrf_token %}
            <div class="text-center">
                <img width="90" src="{% static 'img/logoN.png' %}" alt="" class="mb-2">
                <h3 class="mb-3 text-dark">البيانات الشخصية</h3>
            </div>
            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-control">
                    <i class="fas fa-user"></i>
                    الاسم بالكامل
                </label>
                <input type="text" id="exampleFormControlInput1" class="form-control" required>
            </div>
            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-control">
                    <i class="fas fa-id-card"></i>
                    رقم الهوية الوطنية / رقم الإقامة
                </label>
                <input type="text" id="exampleFormControlInput1" class="form-control" required>
            </div>


            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-control">
                    <i class="fas fa-calendar-alt"></i>
                    تاريخ الميلاد
                </label>
                <input type="date" id="exampleFormControlInput1" class="form-control" required>
            </div>

            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-control">
                    <i class="fa-solid fa-phone"></i>

                    رقم الجوال
                </label>
                <input type="tel" id="exampleFormControlInput1" class="form-control" required>
            </div>


            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-control">
                    <i class="fa-solid fa-envelope"></i>

                    البريد الالكتروني
                </label>
                <input type="email" id="exampleFormControlInput1" class="form-control" required>
            </div>
            <h3>بيانات العنوان</h3>
            <div>
                <div class="mb-3 col">
                    <label for="exampleFormControlInput1" class="form-control">
                        <i class="fas fa-city"></i>
                        المدينة
                    </label>
                    <input type="text" id="exampleFormControlInput1" class="form-control" required>
                </div>
                <div class="mb-3 col">
                    <label for="exampleFormControlInput1" class="form-control">
                        <i class="fas fa-map-marker-alt"></i>
                        الحي
                    </label>
                    <input type="text" id="exampleFormControlInput1" class="form-control" required>
                </div>
                <div class="mb-3 col">
                    <label for="exampleFormControlInput1" class="form-control">
                        <i class="fas fa-road"></i>
                        الشارع
                    </label>
                    <input type="text" id="exampleFormControlInput1" class="form-control" required>
                </div>
            </div>

            <h3>نوع الرخصة المطلوبة</h3>
            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-control">
                    نوع النشاط  
                    <!-- <i class="fas fa-briefcase"></i> -->


                </label>
                <select class="form-control" id="exampleFormControlInput1" required>
                    <option value="commercial">تجاري</option>
                    <option value="industrial">صناعي</option>
                    <option value="professional">مهني</option>
                    <option value="other">غير ذلك</option>
                </select>
            </div>

            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-control">فئة الرخصة</label>
                <!-- <i class="fas fa-certificate"></i> -->
                <select class="form-control" id="exampleFormControlInput1" required>
                    <option value="commercial">جديدة</option>
                    <option value="industrial">تجديد</option>
                    <option value="professional">تعديل</option>
                    <option value="other">نقل ملكية</option>
                </select>
                <label for="exampleFormControlInput1" class="form-control">اسم النشاط</label>
                <input type="text" id="exampleFormControlInput1" class="form-control" required>

                <label for="exampleFormControlInput1" class="form-control">الوصف المختصر للنشاط</label>
                    <input type="text" id="exampleFormControlInput1" class="form-control" required>

                    <label for="exampleFormControlInput1" class="form-control">موقع النشاط</label>
                    <input type="text" id="exampleFormControlInput1" class="form-control" required>
            </div>
            <h3>المستندات المطلوبة</h3>
            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-control">
                    <i class="fas fa-id-badge"></i>
                    صورة الهوية الوطنية او الاقامة
                </label>
                <input type="file" id="exampleFormControlInput1" class="form-control" accept=".jpg, .jpeg, .png, .pdf"
                    multiple required>
            </div>

            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-control">
                    <i class="fas fa-file-alt"></i>
                    السجل التجاري (إن وجد)
                </label>
                <input type="file" id="exampleFormControlInput1" class="form-control" accept=".jpg, .jpeg, .png, .pdf"
                    multiple>
            </div>
            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-control">
                    <i class="fas fa-file-invoice-dollar"></i>
                    شهادة الزكاة والدخل (إن لزم)
                </label>
                <input type="file" id="exampleFormControlInput1" class="form-control" accept=".jpg, .jpeg, .png, .pdf"
                    multiple>
            </div>
            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-control">
                    <i class="fas fa-file-contract"></i>
                    عقد الإيجار أو صك الملكية
                </label>
                <input type="file" id="exampleFormControlInput1" class="form-control" accept=".jpg, .jpeg, .png, .pdf"
                    multiple>
            </div>
            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-control">
                    <i class="fas fa-file-upload"></i>
                    أي مستندات إضافية حسب نوع الرخصة
                </label>
                <input type="file" id="exampleFormControlInput1" class="form-control" accept=".jpg, .jpeg, .png, .pdf"
                    multiple>
            </div>
            <h3>تفاصيل الدفع</h3>
            <div class="mb-3 col">
                
                
                <label for="exampleFormControlInput1" class="form-control">
                    <i class="fas fa-credit-card"></i>
                    وسيلة الدفع
                </label>
                
                <select class="form-control" id="exampleFormControlInput1" required>
                    <option value="mada">مدى</option>
                    <option value="visa">فيزا</option>
                    <option value="bank_transfer">تحويل بنكي</option>
                </select>
            </div>
            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-control">
                    <i class="fas fa-receipt"></i>
                    إرفاق إيصال الدفع (إن كان مطلوبًا)
                </label>
                <input type="file" id="exampleFormControlInput1" class="form-control" accept=".jpg, .jpeg, .png, .pdf"
                    multiple>
            </div>

            <div class="mb-3 col">
                <input type="checkbox" id="exampleFormControlInput1" required>
                <label for="exampleFormControlInput1">
                    الموافقة على الشروط والأحكام
                </label>
            </div>
            <div class="mb-3 col">

                <div class="g-recaptcha" data-sitekey="YOUR_SITE_KEY"></div>
            </div>

            <button class="btn btn-dark mx-auto d-block">
                <i class="fa-solid fa-user"></i>
                إرسال الطلب
            </button>
        </form>
    </div>
</div>
</div>

</div>

<!-- End Contact -->

{% endblock sheri %}