{% load static %}
{% load i18n %}

<!doctype html>
<html lang="{{LANGUAGE_CODE}}" {% if LANGUAGE_CODE == 'ar' or LANGUAGE_CODE == 'he' %}dir="rtl"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans "Launch your professional website with SOFTmsg" %}</title>
    {% if LANGUAGE_CODE == 'ar' or LANGUAGE_CODE == 'he' %}
    <link href="{% static 'bootstrap/css/bootstrap.rtl.min.css' %}" rel="stylesheet">
    {% else %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% endif %}
    <link href="{% static 'css/pages/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/fontawesome.min.css" integrity="sha512-lauN4D/0AgFUGvmMR+knQnbOADyD/XuQ8VF18I8Ll0+TLvsujshyxvU+uzogmQbSq6qJd5jnUdYtK8ShxXMlSg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/solid.min.css" integrity="sha512-bdqdas3Yr82pkTg5i0X1gcAT3tBXz/8H3J1ec7RyEKAvr/YiSCJNV2dnkukmL8CicjKb9rxmd+ILK8Kg2o2wvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/brands.min.css" integrity="sha512-7rXIvd/xj1FnI2zKQjjXzDFxC4twqBByp8yxOgEQJs4C/aNzNyoQsOO7VxH0RgYNhbAYLJLwzqslaP50KTTHIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'img/softmsg-short-logo.png' %}">
    <script src="{% static '/js/jquery-3.7.1.slim.min.js' %}" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block heads %}
    {% endblock heads %}
  </head>
  <body {% if 'portfolio' in request.path %}data-bs-theme="dark"{% endif %}>
    <style>
      @font-face {
        font-family: Cairo;
        src: url("{% static 'fonts/Cairo.woff2' %}");
      }
      body, body * {
          font-family: Cairo;
          outline: none !important;
      }
    </style>
    <div class="mt-5"></div>
    {% include "parts/customer/navbar.html" %}
    {% block sheri %}
    {% endblock sheri %}
    {% include "parts/customer/footer_bar.html" %}
    <div class="mt-5 pt-5"></div>

    <div class="toast-container start-0 p-3" style="position: fixed; bottom: 40px;" id="toast-box">
    </div>
    <script>
      const default_img_profile = `{% static 'img/profile_default/default-profile-img-2.png' %}`
    </script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/pages/base.js' %}"></script>
    <script>

      $(document).ready(function() {
        {% for message in messages %}
        showToast(randomGen(), '{% trans "System" %}', '{{message|safe}}', '')
        {% endfor %}
      })
    </script>
  
    {% block script %}
    {% endblock script %}
  </body>
</html>