{% load static %}
{% load i18n %}

<footer class=" py-3 border-top py-5 px-3 px-lg-5">
    <div class="row row-cols-1 row-cols-md-2">
      <ul class="nav justify-content-start  pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'landingPage' %}" class="nav-link px-2 text-body-secondary">{% trans "Home" %}</a></li>
        <li class="nav-item"><a href="{% url 'landingPage' %}" class="nav-link px-2 text-body-secondary">{% trans "الخدمات" %}</a></li>
        <li class="nav-item"><a href="/{{LANGUAGE_CODE}}/#contact-us" class="nav-link px-2 text-body-secondary">{% trans "الميزات" %}</a></li>
        <li class="nav-item"><a href="/{{LANGUAGE_CODE}}/#contact-us" class="nav-link px-2 text-body-secondary">{% trans "الاسئلة المتكررة" %}</a></li>
      </ul>
      <div class="col-md-5 offset-md-1 mb-3">
        <form method="get" action="{% url 'landingPage' %}">
          <h5>{% trans "اشترك في النشرة الإخبارية لدينا" %}</h5>
          <p>{% trans "ملخص شهري لكل ما هو جديد ومثير منا." %}</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">{% trans "البريد الإلكتروني" %}</label>
            <input id="newsletter1" type="text" class="form-control" name="email" placeholder="{% trans "البريد الإلكتروني" %}">
            <button class="btn btn-success" type="submit">{% trans "يشترك" %}</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-between align-items-center">

        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
              <img width="75" src="{% static 'img/logoN.png' %}" alt="">
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Sayyar</span>
        </div>

        <div>
          {% comment %} <h5>وسائل التواصل الاجتماعي</h5> {% endcomment %}
          <div class="nav-contact-soshial mb-3">
            
              <a class="btn btn-light p-2" href="{{site_settings.instgram}}" target="_blank"><i class="bi bi-instagram"></i></a>
    
              <a class="btn btn-light p-2" href="{{site_settings.snapshat}}" target="_blank"><i class="bi bi-snapchat"></i></a>
    
              <a class="btn btn-light p-2" href="{{site_settings.tiktok}}" target="_blank"><i class="bi bi-tiktok"></i></a>
    
              <a class="btn btn-light p-2" href="{{site_settings.facebook}}" target="_blank"><i class="bi bi-facebook"></i></a>
    
              <a class="btn btn-light p-2" href="{{site_settings.linkedin}}" target="_blank"><i class="bi bi-linkedin"></i></a>
    
              <a class="btn btn-light p-2" href="{{site_settings.whatsapp}}" target="_blank"><i class="bi bi-whatsapp"></i></a>
          </div>
        </div>
{% comment %}     
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex fs-3">
            <li class="me-3">
                <a class="text-body-secondary" href="https://www.facebook.com/share/1CjTiEF9cv/">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </li>
            <li class="me-3">
                <a class="text-body-secondary" href="https://www.instagram.com/softmsg.c/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li class="me-3">
                <a class="text-body-secondary" href="#">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
        </ul> {% endcomment %}
    </div>
    
</footer>
